body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  padding: 40px 40px 24px 40px;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background: #ffffff;
  width: 1400px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#wrapper {
  width: 1400px;
  margin: 0 auto;
}

.book {
  margin: 0;
  position: relative;
  left: 665px;
  top: 680px;
  transform: translateY(-50%);
  animation-name: Appearance;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.text1 {
  position: relative;
  top: -150px;
  left: 350px;
  border-radius: 0px;
  transform: translateY(-50%);
  animation-name: Appearance;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.text2 {
  position: relative;
  top: -397px;
  left: 850px;
  border-radius: 0px;
  transform: translateY(-50%);
  animation-name: Appearance;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.text3 {
  position: relative;
  top: -415px;
  left: 90px;
  border-radius: 0px;
  transform: translateY(-50%);
  animation-name: Appearance;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.text4 {
  position: relative;
  top: -663px;
  left: 350px;
  border-radius: 0px;
  transform: translateY(-50%);
  animation-name: Appearance;
  animation-duration: 2.5s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.text5 {
  position: relative;
  top: -910px;
  left: 605px;
  border-radius: 0px;
  transform: translateY(-50%);
  animation-name: Appearance;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.text6 {
  position: relative;
  top: -1160px;
  left: 850px;
  border-radius: 0px;
  transform: translateY(-50%);
  animation-name: Appearance;
  animation-duration: 3.5s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.text7 {
  position: relative;
  top: -1407px;
  left: 1100px;
  border-radius: 0px;
  transform: translateY(-50%);
  animation-name: Appearance;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.text8 {
  position: relative;
  top: -1400px;
  left: 90px;
  border-radius: 0px;
  transform: translateY(-50%);
  animation-name: Appearance;
  animation-duration: 4.5s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.text9 {
  position: relative;
  top: -1645px;
  left: 355px;
  border-radius: 0px;
  transform: translateY(-50%);
  animation-name: Appearance;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.text10 {
  position: relative;
  top: -1890px;
  left: 850px;
  border-radius: 0px;
  transform: translateY(-50%);
  animation-name: Appearance;
  animation-duration: 5.5s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.text11 {
  position: relative;
  top: -2138px;
  left: 1095px;
  border-radius: 0px;
  transform: translateY(-50%);
  animation-name: Appearance;
  animation-duration: 6s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.text12 {
  position: relative;
  top: -2090px;
  left: 90px;
  border-radius: 0px;
  transform: translateY(-50%);
  animation-name: Appearance;
  animation-duration: 6.5s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.text13 {
  position: relative;
  top: -2338px;
  left: 350px;
  border-radius: 0px;
  transform: translateY(-50%);
  animation-name: Appearance;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.text14 {
  position: relative;
  top: -2585px;
  left: 845px;
  border-radius: 0px;
  transform: translateY(-50%);
  animation-name: Appearance;
  animation-duration: 7.5s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.text15 {
  position: relative;
  top: -2834px;
  left: 1100px;
  border-radius: 0px;
  transform: translateY(-50%);
  animation-name: Appearance;
  animation-duration: 8s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.text16 {
  position: relative;
  top: -2838px;
  left: 150px;
  border-radius: 0px;
  transform: translateY(-50%);
  animation-name: Appearance;
  animation-duration: 8.5s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.text17 {
  position: relative;
  top: -3085px;
  left: 440px;
  border-radius: 0px;
  transform: translateY(-50%);
  animation-name: Appearance;
  animation-duration: 9s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.text18 {
  position: relative;
  top: -3332px;
  left: 775px;
  border-radius: 0px;
  transform: translateY(-50%);
  animation-name: Appearance;
  animation-duration: 9.5s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.text19 {
  position: relative;
  top: -3580px;
  left: 1045px;
  border-radius: 0px;
  transform: translateY(-50%);
  animation-name: Appearance;
  animation-duration: 10s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.text20 {
  position: relative;
  top: -3520px;
  left: 440px;
  border-radius: 0px;
  transform: translateY(-50%);
  animation-name: Appearance;
  animation-duration: 10.5s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.text21 {
  position: relative;
  top: -3770px;
  left: 750px;
  border-radius: 0px;
  transform: translateY(-50%);
  animation-name: Appearance;
  animation-duration: 11s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

@-webkit-keyframes Appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes Appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes Appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.border {
  border: 0px solid darkblue;
  height: 150px;
  width: 200px;
  text-align: justify;
}
