body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
  padding: 40px 40px 24px 40px;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background: #ffffff;
  width: 2000px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#wrapper {
	width: 1500px;
	margin: 0 auto;
}

.book {
  margin: 0;
  position: relative;
  left: 650px;
  top: 200px;
}

.text1 {
  margin: -280px 0 0 500px;
  position: relative;
  top: -80px;
  left: -50px;
  border-radius:10px;
}

.text2 {
  position: relative;
  border-radius:10px;
}

.text3 {
  position: relative;
  top: 200px;
  left: -170px;
  border-radius:10px;
}

.text4 {
    position: relative;
    top: 410px;
    left: -410px;
    border-radius:10px;
  }
  
  .text5 {
    position: relative;
    top: 100px;
    left: 400px;
    border-radius:10px;
  }
  
  .text6 {
    position: relative;
    top: -100px;
    left: 200px;
    border-radius:10px;
    
  }
  